#cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5e5e5;
    min-height:100%;
    overflow: hidden; 
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
}
.app_container{
    width: 100%;
    height: 100%;
}    
.cart_content{
    width: 96%;
    margin-top: 0.3rem;
    border-radius: 0.18rem;
    margin-bottom: 0.3rem
}
.cart_content_li{
    width: 100%;
    height: 2.7rem;
    background: #fff;
    border-bottom: 1px #666 solid;
    padding: 0.28rem 0 0.18rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.ipt_checkbox{
    height: 100%;
    width: 10% ;
    display: flex;
    align-items: center;
    float: left
}
.ipt_checkbox .am-list-item{
    padding-left: 0.15rem !important;
}
.am-list-line{
    padding-right: 0 !important;
}
.am-list-thumb{
    margin-right: 0 !important;
}
.c_good_right{
    width: 86%;
    float:left;
    height: 100%;

}
.c_good_right .c_good_pic{
    float: left;
    height: 100%;
    width: 27.5%;
    border: 2px solid #ebebeb;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_good_right .c_good_pic img{
    width: 62%;
    height: 62%;
}
.c_good_right .c_good_detail{
    float: left;
    width: 69% ;
    height:100%;
    margin-left: 3%;
    color: #4c4c4c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.c_good_name{
    width: 100%;
    height: 0.54rem;
    font-size: 0.37rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c_good_size{
    font-size: 0.37rem;
    
}
.c_good_price{
    font-size: 0.38rem;
}
.count_stepper{
    position: absolute;
    right: 0.1rem;
    bottom: -0.1rem;
    width: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.count_stepper .plus , .count_stepper .discount{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px #666 solid;
    border-radius :0.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_footer1{
    width: 100%;
    height:1.75rem;
    z-index: 99999;
    background: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #666
}
.d_footer1 .buyright{
    width: 70%;
    height:60%;
    float: right;
    margin-right: 0.1rem;
    background: #d21034;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem
}
.remove{
    position: absolute;
    right: 0.1rem;
    top: 0.8rem;
    width: 1rem;
    height: 0.6rem;
    background: #ccc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.13rem
}