#detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5e5e5;
    margin-top: 1.5rem;
    margin-bottom: 1.75rem
}

#detail .good_scan{
    width: 97%;
    height: 12.8rem;
}
#detail .good_scan .good_scan_pic{
    width: 100%;
    height: 78%;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
}
.my-carousel{
    width: 100%;
    height: 100% !important;
}
.my-carousel .slider-frame{
    width: 100%;
    height: 100% !important;
}
.my-carousel .slider-frame .slider-list{
    width: 100%;
    height: 100% !important;
}
.my-carousel .slider-frame .slider-slide{
    width: 100%;
    height: 100% !important;
}
.my-carousel .slider-frame .slider-list .img_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.my-carousel .slider-frame .slider-list .img_div img{
    width: 50%;
    height: 50%;
}
.my-carousel .slider-decorator-0{
    bottom: 0.5rem !important;
}
.good_scan .good_title_price{
    padding:0.3rem 0.4rem;
    box-sizing: border-box;
    font-size: 0.4rem;
    color: #585858;
    background: #fff;
    height: 22%;
}
.good_scan .good_title_price .good_title{
    height: 70%
}
.good_scan .good_title_price .good_price .rmb{
    font-size: 0.33rem;
    margin-right: 0.07rem
}
.good_scan .good_title_price .good_price{
    font-size: 0.43rem;
}
#detail .good_choose{
    width: 97%;
    background: blue;
    padding: 0 0.32rem;
    box-sizing: border-box;
    margin-top: 0.3rem;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.good_choose .good_color{
    width: 100%;
    padding: 0.6rem 0;
    font-size: 0.35rem;
    color: #999999;
    border-bottom: 1px solid #ebebeb;
}
.good_choose .good_color .color_title{
    float: left
}
.good_choose .choose_color{
    margin-left: 0.2rem;
    width: 87%;
    overflow: auto;
    margin-top: -0.15rem
}
.good_choose .choose_color .choose_color_span{
    float: left;
    padding: 0.13rem 0.18rem;
    border: 1px solid #c1c1c1;
    margin-left: 0.25rem;
    border-radius: 0.4rem;
    color:#b2b2b2;
    margin-top: 0.15rem
}
.good_choose .choose_color .choose_color_span.c_active{
    border: 1px solid #da3957;
    color:#da3957;
}
#detail .good_choose{
    width: 97%;
    background: blue;
    padding: 0 0.32rem;
    box-sizing: border-box;
    margin-top: 0.3rem;
    background: #fff;
}
.good_size{
    width: 100%;
    padding: 0.6rem 0;
    font-size: 0.35rem;
    color: #999999;
    border-bottom: 1px solid #ebebeb;
}
.good_choose .good_size .size_title{
    float: left
}
.good_choose .choose_size{
    margin-left: 0.2rem;
    width: 87%;
    overflow: auto;
    margin-top: -0.15rem
}
.good_choose .choose_size .choose_size_span{
    float: left;
    padding: 0.13rem 0.18rem;
    border: 1px solid #c1c1c1;
    margin-left: 0.25rem;
    border-radius: 0.4rem;
    color:#b2b2b2;
    margin-top: 0.15rem
}
.good_choose .choose_size .choose_size_span.c_active{
    border: 1px solid #da3957;
    color:#da3957;
}
.good_send{
    width: 100%;
    padding: 0.6rem 0;
    font-size: 0.35rem;
    color: #999999;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}
.good_send .send_title{
    float: left
}
.good_send .send_ul{
    margin-left: 0.2rem;
    width: 87%;
    overflow: auto;
    float: left
}
.good_promise{
    width: 97%;
    background: #f8f8f8;
    overflow: auto;
    padding: 0 0.3rem;
    box-sizing: border-box;
}
.good_promise section{
    float: left;
    margin-right: .3rem;
    color: #999999;
    font-size: 0.35rem;
    padding: 0.3rem 0
}
.good_promise section i{
    margin-right: 0.1rem;
    color: #e38596;
}
.brand_intro{
    width: 97%;
    background: #fff;
    margin-top: 0.3rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
}
.brand_intro .d_brand_pic{
    width: 100%;
    height: 4rem
}
.brand_title{
    width: 100%;
    height: 1.33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #f0f0f0 solid;
}
.brand_title .d_brand_name{
     color: #4c4c4c
}
.d_brand_content{
    width: 100%;
}
.d_brand_content .d_brand_pic{
    width: 100%;
    height: 2.9rem;
    display: flex;
    justify-content: center;
}
.d_brand_content .d_brand_pic img{
    height: 100%;
}
.d_brand_content .brand_content_text{
    color: #4c4c4c;
    width: 100%;
    padding: 0.3rem 0;
    line-height: 0.55rem;
}
.to_pic_detail{
    width: 97%;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to_pic_detail i{
    display: inline-block;
    width: 0.34rem;
    height: 0.34rem;
    border:1px solid #565656;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem
}
.to_pic_detail  .icon-xiangyou{
    font-size: 0.2rem;
}

#detailpic{
    width: 100%;
    height: 100%;
    margin-top: 1.5rem
}
#detail .childBox{
    display: flex;
    flex-direction: column;
    align-items: center
}
#detail .childBox .detail_content{
    width: 97%;
    background: #fff;
    margin-top: 0.3rem;
    border-radius: 0.13rem;
    overflow: hidden
}
#detail .childBox .detail_content img{
    width: 100%;
    height: 100%
}
#detail .childBox2 .info_content{
    width: 97%;
    height: 15rem;
    background: #fff;
    margin-top: 0.3rem;
    border-radius: 0.13rem;
    overflow: hidden;
    padding: 0 0.3rem;
    box-sizing: border-box;
}
#detail .childBox2 .info_content ul li{
    display: block;
    border-bottom: 1px #ddd solid;
    width: 100%;
    height: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#detail .childBox2 .info_content ul li .info_value{
    color: #bbb
}
.d_footer{
    width: 100%;
    height:1.75rem;
    z-index: 99999;
    background: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #666
}
.d_collect, .d_cart{
    width: 15%; 
    height: 100%;
}
.d_collection , .foot_cart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot_cart a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;
}
.d_collection i ,.foot_cart i{
    display: block;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 0.6rem
}
.add_cart , .buynow{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 0.5rem;
}
.d_footer .buynow{
    border: none;
    background: #d21034;
}
.d_footer .buynow a{
    color: #fff
} 